<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{System.title}">Special</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="" th:href="@{/public/css/mod.css}" />
    </head>
    <body>
        <h1 th:text="#{Index.title}">Welcome Special Project!</h1>
        <hr />
        <form method="POST" th:object="${authInfo}" >
            <div th:if="${autherror != null}">
                <span th:text="#{${autherror}}">Auth Error!</span>
            </div>
            <span th:text="#{Index.tag.account}">Account:</span><input type="text" th:field="*{account}" /><span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span><br />
            <span th:text="#{Index.tag.password}">Password:</span><input type="password" th:field="*{password}" /><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br />
            <input type="submit" th:value="#{Index.btn.signin}" value="Sign in" /> <a href="" th:href="@{/register}"><span th:text="#{Index.btn.signup}">Sign Up</span></a>
        </form>
    </body>
</html>
