<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{System.title}">TODO supply a title</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="" th:href="@{/public/css/mod.css}" />
    </head>
    <body>
        <h1 th:text="#{register.title}">Sign Up</h1>
        <hr />
        <form method="POST" th:object="${user}">
            <span th:text="#{register.tag.firstName}" ></span><input type="text" th:field="*{firstName}" /><span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br />
            <span th:text="#{register.tag.lastName}" ></span><input type="text" th:field="*{lastName}" /><span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br />
            <span th:text="#{register.tag.nickname}" ></span><input type="text" th:field="*{nickname}" /><span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></span><br />
            <span th:text="#{register.tag.email}" ></span><input type="text" th:field="*{email}" /><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br />
            <span th:text="#{register.tag.account}" ></span><input type="text" th:field="*{account}" /><span th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></span><br />
            <span th:text="#{register.tag.password}" ></span><input type="password" th:field="*{password}" /><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br />
            <br />
            <input type="submit" value="Submit" th:value="#{register.btn.commit}" />
            <a th:href="@{/}" ><span th:text="#{register.btn.cancel}">Cancel</span></a>
        </form>
    </body>
</html>
